extends layout

block content
  h1 Success!
  p Your URL was successfully Shortified!
  p Your new, improved URL is:
  h2 whatever.com/short/#{token}
  
  p Click #[a(href="/") here] to Shortify another URL
