extends layout

block content
  h1 Success!
  p Your URL was successfully Shortified!
  p Your new, improved URL is:
  h2 
    a(href="/short/#{token}") lincolns-urlshortifier.herokuapp.com/short/#{token}
  
  p (Which isn't at all shorter, but I think you get what I'm going for here. It's like rain on your wedding day, and all that...)
  
  p Click #[a(href="/") here] to Shortify another URL
